*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
.header{
    height: 700px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/images/spaghetti-1932466_1280.jpg');
background-size: cover;
background-repeat: no-repeat;
    background-position: center;
    position: relative;
    
}
.menu{
    height: 80px;
    /* border: 1px solid red; */
    position: absolute;
    top: 30px;
    left: 0px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.logo{
    width: 10%;
    height: inherit;
    color: whitesmoke;
}
.logo h6{
    border: 1px solid whitesmoke;
    letter-spacing: 2px;
    text-align: center;
    font-size: 20px;
    padding: 0px;
    line-height: 80px;
    font-family: 'Raleway', sans-serif;
}
.links{
    width: 90%;
}
.links ul{
    display: flex;
}
.links ul li {
    list-style: none;
}
.links ul li a{
    font-size: 25px;
color: whitesmoke;
padding: 0px 30px;
    text-decoration: none;
    line-height: 80px;
    font-family: 'Raleway', sans-serif;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
}

.links ul li a:hover{
    cursor: pointer;
    color: red;
}
.a{
    margin-left:120px;

    
}
.text{
    margin-top: 200px;
    width: 100%;
}
.text h4{
    font-size: 80px;
    text-align: center;
    color: whitesmoke;
    font-family: 'Dancing Script', cursive;}
    .btn{
        margin-top: 30px;
        border: none;
        border: 1px solid white;
        color: whitesmoke;
        margin-left: 700px;
        background-color: transparent;
        padding: 15px 50px;
    }
    .btn:hover{
        color: black;
        background-color: whitesmoke;
        cursor: pointer;
    }
    .table{
        margin-top: 126px;
        background-color: #ffb400;
        height: 90px;
        width: 70%;
        margin-left: 15%;
    }
    .table input{
        margin-top: 20px;
        height: 50px;
        background-color: transparent;
        border: 1px solid black;
        width: 160px;
    }
    .b{
        margin-left: 20px;
    }
    .c,.d,.e{
        margin-left: 20px;

    }
    ::placeholder{
        text-align: center;
        color: black;
    }
    select
    {
        height: 50px;
        width: 100px;
        background-color: #ffb400;
        border: 1px solid;
        margin-left: 20px;
    }
    

    .table button{
        margin-left: 20px;
        padding:16px 40px;
        font-size: 16px;
        border: none;
        transition-duration: 1s;
    }
    .table button:hover{
        border: 1px solid white;
        background-color: transparent;
        color: whitesmoke;
    }

    .aboutus{

        height: 600px;
        /* border: 1px solid; */
        display: flex;
        justify-content: center;
    }
    .aboutuschild{

        width: 80%;
        /* border: 1px solid; */
        height: inherit;
    }
    .aboutuschildcontainer{
        height: inherit;
        display: flex;
    }
    .aboutusimg{
        height: inherit;
        width: 60%;
        /* border: 1px solid; */
    }
    .aboutusimg img{
        height: 100%;
        width: 100%;
    }
    .aboutusdesc{
        height: inherit;
        width: 40%;
        /* border: 1px solid; */
        padding: 0px 30px;

    }
    .aboutusdesc h6{
        color: gray;
        font-size: 25px;
        margin-top: 50px;
    }
    .aboutusdesc p{
        font-size: 40px;
    }
.p1{
    margin-top: 10px;
    text-align: justify;
    color: gray;
    font-size: 25px !important;
}
.p2{
    margin-top: 10px;
    text-align: justify;

    color: gray;
    font-size: 25px !important;
}
.ourmenu{
    height:700px;
    /* border: 1px solid; */
    background-color: #fafafa;
}
.ourmenu h5{
text-align: center;
color: #c8c8c8;
font-size: 20px;
font-family: 'Raleway', sans-serif;

    margin-top: 50px;
}
.ourmenu h2{
    margin-top: 10px;
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: 2px;

}
.main{
    margin-top: 10px;
    background-color: #ffb400;
    width: 10%;
    height: 70px;
    padding:20px 20px ;
    font-size: 25px;
    margin-left: 37%;
    float: left;
}
.dessert{
    margin-top: 10px;

    margin-left: 10px;
    float: left;
    background-color: #ffffff;
    width: 10%;
    height: 70px;
    padding:20px 15px;
    font-size: 25px;
    color: grey;

}
.drinks{
    margin-top: 10px;

    margin-left: 10px;
    float: left;
    background-color: #ffffff;
    width: 10%;
    height: 70px;
    padding:20px 15px;
    font-size: 25px;
    color: grey;

}

.items{
    width: 80%;
    /* border: 1px solid; */
    height: 350px;
    margin-top: 85px;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.itembox{
    width: 49%;
    height: 120px;
    /* border: 1px solid; */
    transition-duration: 3s;
    box-shadow: 2px 2px 1px 1px black;

}
.itembox:hover{
    background-color: #ffb400;

}
.img{
    margin-top: 5px;
    margin-left: 5px;
    height: 90px;
    width: 90px;
    border: 1px solid;
    border-radius:50% ;
    float: left;

}
.img img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.itembox h4{
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
}
.res{
    border: none;
    margin-left: 670px;
    padding: 10px 20px;
    border: 1px solid #ffb400;
    color: #ffb400;
    background-color: transparent;
    font-size: 20px;
    margin-top: 10px;

}
.res:hover
{
    cursor: pointer;
    background-color: #ffb400;
    color: black;
}
.point{
font-size: 20px;
    text-align: center;
    color: grey;
    margin-top: 60px;
}
.orders{
    margin-left: 34%;
    margin-top: 5px;
    padding:10px 10px ;
    border: none;
    transition-duration: 2s;
    font-family: 'Raleway', sans-serif;
    border: 1px solid #ffb400;
    background-color: transparent;

}
.orders:hover{
    color: green;
    background-color: black;
    cursor: pointer;
}
.specilaties{
    height: auto;
    /* border: 1px solid red; */
}
.specilatiesimg{
    margin-top: 0px;
    height: 400px;
    /* border: 1px solid; */
    background: url('/images/berries-2277_640.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.specilatiesimg h1{
    text-align: center;
    color: whitesmoke;
    font-size: 50px;
    margin-top: 150px;
    font-family: 'Raleway', sans-serif;

}
.special{
    height: 600px;
    /* border: 1px solid red; */
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;

}
.specialchilld{
    width: 25%;
    height: 300px;
    /* border: 1px solid; */
}
.specialchilld h2{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}
.specialchilld p{
    color: grey;
    line-height: 25px;
    padding: 0px 30px;
    text-align: justify;
    font-size: 20px;
}
.price{
    color: #ffb400 !important;
    text-align: center !important;
}
.specialchilld img{
    height: 100%;
    width: 100%;

    opacity: 0.5;
    transition-duration: 3s;
}
.specialchilld img:hover{
    opacity: 1;
}
.blogcontainer{
    height: 700px;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.blogchild{
    height: 600px;
    width: 80%;

    /* border: 1px solid; */
}
.blogchild h6{
    margin-top: 5px;
    text-align: center;
    color: grey;
    font-size: 20px;
}
.blogchild h4{
    margin-top: 5px;
    text-align: center;
    color: grey;
    font-size: 20px;
}
.blogitemparent{
    margin-top: 10px;
    /* border: 1px solid red; */
    height: 500px;
    display: flex;
    justify-content: space-between;

}
.blogitems{
    margin-top: 5%;
    width: 32%;
    height: 400px;
    box-shadow: 2px 2px 2px 6px ghostwhite;
    /* border: 1px solid green; */
}
.blogimg{
    height: 300px;
    /* border: 1px solid; */
}
.blogimg img{
    height: 100%;
    width: 100%;
}
.blogdesc{
    height: 100px;
    /* border: 1px solid green; */

}
.blogdesc a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.blogdesc a:hover{
    color: #ffb400;
}
.blogdesc p{
    text-align: justify;
    padding: 2px 15px;
}
.instagram{
    height: 500px;
    display: flex;
    align-items: flex-end;
}
.insta1{
    height: 300px;
    width: 25%;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(/images/i1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode:luminosity;

}
.insta2{
    height: 300px;
    width: 25%;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(/images/i2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-blend-mode:luminosity;

}
.insta3{
    height: 300px;
    width: 25%;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(/images/i3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode:luminosity;
}
.insta4{
    height: 300px;
    width: 25%;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(/images/i4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode:luminosity;

}
.inschild{
    display: none;
    margin-top: 55px;
    margin-left: 75px;
    height: 200px;
    z-index: -1;
    width: 200px;
    background-color: gray;
    padding: 50px 65px;
    opacity: 0.7;
}
.fa-instagram{
    z-index: 1;
    font-size: 80px;
}
.insta1:hover .inschild{
    display: block;
}
.insta2:hover .inschild{
    display: block;
}
.insta3:hover .inschild{
    display: block;
}
.insta4:hover .inschild{
    display: block;
}
.footercontainer{
    height: 500px;
    background-color: #27272b;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footercontainerchild{
    width: 80%;
    height: 400px;
    /* border: 1px solid whitesmoke; */

}
.footerit{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.foodesc{
    width: 24%;
    height: 350px;
    /* border: 1px solid whitesmoke; */
}
.foodesc h6{
    font-size: 30px;
    text-align: center;
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;

}
.foodesc p{
    margin-top: 10px;
    padding: 5px 25px;
    font-size: 20px;
    text-align: justify;
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;

}
.foodhrs{
    width: 24%;
    height: 350px;
    /* border: 1px solid whitesmoke; */
    padding: 0px 25px;

}
.foodhrs h6{
    font-size: 30px;
    text-align: center;
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;

}
.foodhrs a{
    margin-left: 10px;
    line-height: 40px;
    font-size: 20px;
    display: block;
    color: gray;
    text-decoration: none;
}
.foodhrs a:hover{
    color: whitesmoke;
}
.foodinfo{
    width: 24%;
    height: 350px;
    /* border: 1px solid whitesmoke; */

}
.foodinfo h6{
    font-size: 30px;
    text-align: center;
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;


}
.foodinfo a{
    margin-left: 40px;
    line-height: 60px;
    font-size: 20px;
    display: block;
    color: gray;
    text-decoration: none;

}
.foodinfo a:hover
{
    color: whitesmoke;
}
.foodinsta{
    width: 24%;
    height: 350px;
    /* border: 1px solid whitesmoke; */

}
.foodinsta h6{
    font-size: 30px;
    text-align: center;
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;

}
.foodesc a{
    display: inline-block;
    margin-top: 40px;
    font-size: 30px;
    padding: 5px 25px;
}
.fimg{
    float: left;
    width: 50%;
    overflow: hidden;
    height: 150px;
    /* border: 1px solid white; */
}
.fimg img{
    width: 100%;
    height: 100%;
    transition-duration: 3s;

}
.fimg img:hover{
    transform: scale(1.5);
}
.contactuscontainer{
    background-color: aliceblue;
    height: 550px;
    display: flex;
    /* border: 1px solid; */
    align-items: center;
}
.contactimg{
    height: 500px;
    /* border: 1px solid; */
    width: 40%;

}
.contactimg img{
    width: 100%;
    height: 100%;
}
.contactform{
    height: 500px;
    /* border: 1px solid; */
    width: 60%;

}
.contactform h2{
    margin-top: 5px;
    font-size: 30px;
    text-align: center;
    text-shadow: 2px 2px 2px gray;
}
.contactform input{
    height: 50px;
    border: none;
    border-bottom: 1px solid red;
    background-color: transparent;
    margin-left: 40%;
}
.frm{
    margin-top: 25px;
}
textarea{
    border: 1px solid red;
    background-color: transparent;
    margin-left: 40%;
}
.frmbtn{
    margin-left: 40%;
    padding: 5px 20px;
    color: white;
    border: none;
    font-size: 25px;
    background-color: #ffb400;
}
.frmbtn:hover{
    background-color: transparent;
    border: 1px solid #ffb400;
    color: #ffb400;
}